.chatContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 3px;
  padding: 5px;
}

.chatImg {
  width: 40px;
  margin-right: 15px;
}

.name {
  font-size: 15px;
  font-weight: 490;
  margin-right: 10px;
}

.msg {
  font-size: 14px;
}
